.bodyDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1050px;
    margin: 1%;
}
.user {
    height: 75px;
    width: 50%;
    background: #ffffff;
    text-align: center;
    align-items: center;
    border: 5px solid black;
    box-sizing: border-box;
    display: block;
    margin: 0;
    border-radius: 100px;
}
.href {
    display: block;
}
h1 {
    text-align: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 0;
    margin-right: 1%;
    margin-left: 1%;
    background: white;
    font-family: cursive;
}
body {
    margin-top: 10px;
    background-color: #333;
    background-image: url('img.png');
}